body {
    background-color: black;
}

body:before {
    /* -- Para que la imagen de fondo tenga opacidad --*/
    background: url(../img/photo/fondo-index-photo2.png) no-repeat;
    background-size: cover;
    background-position: center;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}
